@using MStartPreHiringTask.DAL.Models.User;
@model User
@{
    ViewData["Title"] = "Delete";
}

<h1>Are you sure you want to Delete this user?</h1>

<form asp-action="Delete" >
    <div asp-validation-summary="All"></div>
   <partial name="PartialViews/DetailsDeleteUserPartialView"/>

    <input type="submit" value="Delete" class="btn btn-danger"/> |
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>

</form>



