@using MStartPreHiringTask.DAL.Models.Account;
@model Account

<div class="form-group">
    <label class="col-form-label">User ID</label>
    <input asp-for="UserId" class="form-control" readonly />

</div>
<div class="form-group">
    <label class="col-form-label">Account Number</label>
    <input asp-for="Account_Number" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label">Balance</label>
    <input asp-for="Balance" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label">Currency</label>
    <input asp-for="CurrencyType" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label">Status</label>
    <input asp-for="status" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label">Update Date</label>
    <input asp-for="Update_DateTime_UTC" class="form-control" readonly />
</div>