@using MStartPreHiringTask.DAL.Models.Account;
@model Account
@{
    ViewData["Title"] = "Delete";
}

<h1>Are you sure you want to Delete this Account?</h1>

<form asp-action="Delete" >
    <div asp-validation-summary="All"></div>
    
    <partial name="PartialViews/DetailsDeleteAccountPartialView"/>


    <input type="submit" value="Delete" class="btn btn-danger"/> |
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>

</form>



